* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  font-size: 62.5%;
}

body {
  height: 100vh;

  font-size: 1.6rem;
  font-family: 'Space Mono', monospace;
  color: #fff;

  background-image:url('https://images.unsplash.com/photo-1531808607305-42041f13cc0e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-repeat: repeat;
  background-position: center;
  background-size: 100%;

}

#app {
  height: 100vh;
  display:grid;
  place-content: center;
  gap: 50px;


}

h1 {
  font-size: 80px;
}

.text-universe {
  margin-top: 350px;
}

.text-exploration {
  margin-top: 100px;
  text-align: center;
}

h2 {
  font-size: 40px;
  text-align: center;
}

img {
  margin: auto;
}

p {
  width: 80vw;
  text-align: center;


}

.head {

  font-size: 3.2rem;

  margin-top: 10rem;
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  gap: 10rem;
}

.logo {
  margin-left: 10rem;
  margin-top: 4rem;
  
}

.head a{
  text-decoration: none;
  color: #fff;

}

button {

  width: 300px;
  height: 50px;

  margin: auto;
  background-color: transparent;
  color: #fff;
  padding: 1rem;

  border: 1px solid #fff;


}